body {
	background-color: #eee;
	font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	overflow:auto;
    height:100%; 
}
a  {
	text-decoration:none;
}
#header {
	position:relative;
	background-color: #C0C0C0;
	width: 1024px;
	height: 50px;
	font-weight: bold;
	font-size:200%
}
#main {
	position:absolute;
	left: 80px;
	width: 1024px;
}
#content {
	position:relative;
	bottom: 0px;
	top: 10px;
	padding-top: 2px;
	float: right; 
	background-color: #C0C0C0;
	width: 1024px;
}
#preview {
	position:absolute;
	width:223;
	height: 310;
	right: 0px;
	display: none;
}
#searchInput{
	position:absolute;
	left: 784px;
	top: 10px;
}
#navButton{
	position:absolute;
	left: 14px;
	top: 10px;
}
input.formButton {
	position:absolute;
	left: 950px;
	top: 12px;
}
div {
	font-weight: bold;
	font-size: 18px;
}
div.listRow {
	width: 100%;
	height: 26px;
	background: #eee;
	border-bottom:solid 2px #C0C0C0;
}
div.setListCategoryHeader {
	font-size: 21px;
}
div.cardItemTitle {
	width: 430px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.colourList {
	width: 130px;
}
div.rarityIcon {
	width:40px;
	text-align:center;
}
div.spacer {
	width:20px;
}
div.listHeader {
	height:20px; 
	float: left; 
}
div.listItem {
	height:20px; 
	float: left;
}
div.tcgPrice {
	width: 80px;
	padding-left: 14px;
}
input {
	height:20px;
	float: left;
}
input.price {
	width: 80px; 
}
input.quantity {
	width: 60px; 
}
img.colourIcon {
	float: right;
}
img.icon {
	width: 26px;
	height: 26px;
}